.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background: transparent;
  transition: all var(--transition-duration);
}

.header.scrolled {
  background: rgba(var(--color-dark-rgb), 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-block: 2rem 1rem;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 87px;
  height: 21px;
}
