.projects {
  margin-block: var(--gap-between-sections);
  position: relative;
  overflow-x: hidden;
}

.projects::after,
.projects::before {
  @media screen and (max-width: 75rem) {
    display: none;
  }
}

.projects::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 2.5rem;
  height: 120px;
  background: url(../../icons/decoration/dots_2_5.svg) center / contain
    no-repeat;
}

.projects::after {
  content: "";
  position: absolute;
  top: 55%;
  right: -6rem;
  width: 9rem;
  height: 9rem;
  background: url(../../icons/decoration/square.svg) center / contain no-repeat;
}

.projects__content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.projects__title {
  position: relative;
  padding-left: 1.25rem; /* 20px */
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  line-height: var(--line-height-base);
}

.projects__title::before {
  position: absolute;
  left: 0;
  content: "#";
  color: var(--color-accent);
}

.projects__title::after {
  position: absolute;
  content: "";
  left: 12rem;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: var(--color-accent);
}
