.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

body {
  color: var(--color-gray);
  background-color: var(--color-dark);
  font-family: "Fira Code", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}
